main {
    box-sizing: border-box;
}

#logo {
    position: relative;
    height: 500px;
    background-color: #333;

    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        width: 80%;
        margin: auto;
    }
}

.st0 {
    fill: none;
}

.static {
    fill: #3CC;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-name: draw;
    stroke: #3CC;
    stroke-width: 1;
    stroke-dasharray: 3000;
}



.move {
    fill: #3CC;
    animation-duration: 0.1s, 2s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    animation-play-state: running, running;
    transform-origin: center;

    &-out {
        stroke: #3CC;
        stroke-width: 1;
        stroke-dasharray: 3000;
        animation-fill-mode: forwards, both;
        animation-name: out, draw;
    }

    &-in {
        animation-fill-mode: both;
        animation-name: in;
    }

    &-a {
        animation-delay: 1.6s, 0s;
    }

    &-b {
        animation-delay: 1.8s, 0s;
    }

    &-c {
        animation-delay: 2s, 0s;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 3000;
        fill: #333;
    }

    80% {
        stroke-dashoffset: 2000;
        fill: #3CC;
    }

    100% {
        stroke-dashoffset: 0;
    }

}

@keyframes in {
    0% {
        fill-opacity: 0;
    }

    50% {
        fill-opacity: 100;
        transform: rotateX(90deg);
    }

    75% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes out {
    50% {
        transform: rotateX(0deg);
    }

    75% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(90deg);
    }
}

#act rect {
    fill: #FFFF66;
    animation-name: act;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(1.000, 0.875, 0.200, 0.955);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

@keyframes act {
    0% {
        width: 0;
    }

    100% {
        width: 130;
    }
}