main {
    box-sizing: border-box;
}

#logo {
    position: relative;
    height: 500px;
    background-color: #333333;
    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        width: 80%;
        margin: auto;
    }
}

.st0 {
    fill: none;
}

.st1 {
    fill: #33CCCC;
}

.move {
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    transform-origin: center;
    &-out {
        animation-fill-mode: forwards;
        animation-name: out;
    }
    &-in {
        animation-fill-mode: backwards;
        animation-name: in;
    }
    &-a {
        animation-delay: 0.6s;
    }
    &-b {
        animation-delay: 0.8s;
    }
    &-c {
        animation-delay: 1s;
    }
}

@keyframes in {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes out {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}

#act rect {
    animation-name: act;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes act {
    from {
        fill: none;
        width: 0;
    }
    to {
        fill: #FFFF66;
        width: 130;
    }
}