main {
    box-sizing: border-box;
}

#logo {
    position: relative;
    height: 500px;
    background-color: #333333;

    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        width: 80%;
        margin: auto;
    }
}

.st0 {
    fill: none;
}

.st1 {
    fill: #33CCCC;
}

#no, #t, #ii {
    display: none;
}

#act rect {
    fill: #FFFF66;
    animation-name: act;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(1.000, 0.875, 0.200, 0.955);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes act {
    0% {
        width: 0;
    }
    100% {
        width: 130;
    }
}