/* noname002 */

#noname002 {
    width: 100px;
    margin: 50px auto;
}

#emoji_btn {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    width: 25px;
    height: 9px;
    border: 0px solid rgba(0, 0, 0, 0.0);
    border-radius: 50px;
    background-color: #dddddd;
    transition: background-color .4s ease;
    cursor: pointer;
}

#emoji_btn:checked {
    background-color: #bbbbbb;
}

#emoji_btn+label {
    position: relative;
    display: inline-block;
    top: -1px;
    left: -35px;
    width: 15px;
    height: 15px;
    transition: left .5s ease, .5s ease;
    cursor: pointer;
}

#emoji_btn+label:before {
    content: '🌚';
    display: inline;
}

#emoji_btn+label:after {
    display: none;
}

#emoji_btn:checked+label {
    position: relative;
    display: inline-block;
    top: -1px;
    left: -20px;
    width: 15px;
    height: 15px;
}

#emoji_btn:checked+label::before {
    display: none;
}

#emoji_btn:checked+label::after {
    content: '🌞';
    display: inline;
}


#emoji_btn:focus {
    outline: none;
}